<!DOCTYPE html>
<html lang="en" ng-app="bmd">
<head>
	<title>Welcome to FreeBMD!</title>
	<link rel="stylesheet" href="http://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.1.1/css/bootstrap.css">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="stylesheet" href="css/style.css"> <!-- Stylesheet -->
	<link rel="stylesheet" href="css/nv.d3.css"> <!-- D3 CSS -->
	<link rel="stylesheet" href="components/codemirror/codemirror.css">
	<link rel="stylesheet" href="components/codemirror/mdn-like.css"><!-- CodeMirror for Editor -->
</head>
<body>
	<nav class="navbar navbar-default" role="navigation">
	  <div class="container-fluid">
	    <!-- Brand and toggle get grouped for better mobile display -->
	    <div class="navbar-header">
	      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
	        <span class="sr-only">Toggle navigation</span>
	        <span class="icon-bar"></span>
	        <span class="icon-bar"></span>
	        <span class="icon-bar"></span>
	      </button>
	      <a class="navbar-brand" href="#">FreeBMD</a>
	    </div>

	    <!-- Collect the nav links, forms, and other content for toggling -->
	    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
	      <ul class="nav navbar-nav">
	      	<li><a href="#">New</a></li>
	        <li><a id="save" href="#">Save</a></li>
	        <li><a href="#">Fork</a></li>
	      </ul>
	    </div><!-- /.navbar-collapse -->
	  </div><!-- /.container-fluid -->
	</nav>
	
	<div class="row">
		<div class="col-md-2">
			<h3>Welcome to FreeBMD</h3>
			<p>Created by Grant, RJ and Brendan of Team Berkeley at Big Hack 2014.</p>

			<button id="plot_test" class="btn btn-default">PLOT THIS SHIT?</button>
			
		</div>
		<div class="col-md-10">
			<div id="editor"></div>
			<div id="console"></div>
		</div>
	</div>
	
	<div id="chart-modal">
		<div id="chart">
		  <svg></svg>
		</div>
	</div>

<!-- JQuery -->
<script type="text/javascript" src="js/jquery-1.11.0.min.js"></script>
<script type="text/javascript" src="js/math.js"></script> <!-- Import Math.js library - mathjs.org -->
<script type="text/javascript" src="js/lib.js"></script> <!-- Main library for FreeBMD -->
<script type="text/javascript" src="js/plot.js"></script> <!-- Plotting library for FreeBMD -->
<script type="text/javascript" src="components/jq-console/jqconsole.min.js"></script><!-- JQ Console for the console window -->
<script src="components/codemirror/codemirror.js"></script>
<script src="components/codemirror/octave/octave.js"></script>
	
<!-- D3 JS includes -->
<script src="js/nvd3/lib/d3.v3.js"></script>
<script src="js/nvd3/nv.d3.js"></script>
<script src="js/nvd3/src/tooltip.js"></script>
<script src="js/nvd3/src/utils.js"></script>
<script src="js/nvd3/src/models/legend.js"></script>
<script src="js/nvd3/src/models/axis.js"></script>
<script src="js/nvd3/src/models/line.js"></script>
<script src="js/nvd3/src/models/lineChart.js"></script>
<script src="js/nvd3/src/models/scatter.js"></script>
<script src="js/nvd3/src/models/scatterChart.js"></script>
<script src="js/nvd3/src/models/discreteBar.js"></script>
<script src="js/nvd3/src/models/discreteBarChart.js"></script>
<script src="js/nvd3/src/models/pie.js"></script>
<script src="js/nvd3/src/models/pieChart.js"></script>

<!-- Window Scripts -->
<script type="text/javascript">
    //$('#console').jqconsole('welcomeString', 'promptLabel', 'continueLabel');

    {{#env}}
    	window.env = {{{env}}};
    {{/env}}

    load_locals();

    $(function () {
    	window.onbeforeunload = confirmExit;
	    function confirmExit() {
	        return "You have about to stop doing SCIENCE. Are you sure you want to leave?";
	    }
    });

    $(function () {
        var jqconsole = $('#console').jqconsole('Hi\n', '>>>');
        var startPrompt = function () {
          // Start the prompt with history enabled.
          jqconsole.Prompt(true, function (input) {
            // Output input with the class jqconsole-output.
            jqconsole.Write(exec_statement(input) + '\n', 'jqconsole-output');
            // Restart the prompt.
            startPrompt();
          });
        };
        startPrompt();
    	var myCodeMirror = CodeMirror(
    		document.getElementById("editor"),
    		{
    			lineNumbers: true,
    			matchBrackets: true,
	    		value: "function y = f(x) \n y = x^2; \n end",
	    		mode: "octave",
	    		theme: "mdn-like"
    		});
      });

	$("#input").submit(function(e){
	    e.preventDefault();
	});

	$('#plot_test').click(function(e) {
		e.preventDefault();

		var data = [{ 
						key:'Line 1',
						values: {
							x: [1, 2, 3, 4, 5, 6, 7, 8],
							y: [12, 42, 12, 51, 12, 14, 52, 12]
						},
						color: '#ff7f0e'
					},
					{
						key:'Line 2',
						values: {
							x: [1, 2, 3, 4, 5, 6, 7, 8],
							y: [7, 12, 3, 0, 9, 14, 6, 6]
						},
						color: '#2ca02c'
					}];
		var chart = d3_plot(data,'line');
		xAxisTitle('Time', chart);
		yAxisTitle('Dudes in the Room', chart);

	});

	$('#save').click(function() {
		var data = {
			'secret':'1234',
			'token':'asdfqwer',
			'env':JSON.stringify(env)
		};
		var success = function(data, textStatus, jqXHR) {alert('Saved successfully.')};
		var url = '/save';
		$.ajax({
			type:"POST",
			url: url,
			data: data,
			success: success,
			dataType: 'html'
		});
	});

</script>

</body>
</html>